<div id="group_name"><h2 class="form-heading">users for <%= @group.name %></h2></div>
<div class="group-user-list effect1" >
  <% @users.each do |user| %>
      <%= render "ssuser" , :user => user %>
  <% end %>
</div>