<h1>result for the Group polls - <%= @group_poll.name %></h1>

<br>
<div class="competitors_list">
<% @competitors.each do |competitor|%>
<%= render "result_comp", :competitor => competitor %>
<% end %>
</div>


<div id="live-poll-area">
  <div class="graph-container">
    <div class="graph"></div>
  </div>
  <div class="answer-list"></div>
</div>