<div class="group group-user">
  <a href="/group/<%= group.id %>/show"><div class="group_picture"><img src="/uploads/group_pictures/<%=group.group_picture %>"></div><h3><%= group.name%></h3></a>
</div>