<div id="group_name"><h2><%= @group.name %></h2></div>
<%= link_to "User" , url_for(:controller => "groups", :action => "group_users", :id => @group.id)%>
<a href="/groups/<%= @group.id %>/add_users">add User</a>
<%= link_to "add_users" , url_for(:controller => "groups", :action => "add_user_to_group", :id => @group.id) %>