<div id="head_photo"><img src="/uploads/banner.jpg"><div class="temp"><h2>Voting Made Easy!</h2></div><div id="dis"><p>VoteMe is a web-based online voting system that will help you manage your elections easily and securely.</p></div></div>


<div class="whychoose">
  <span>WHY CHOOSE US?</span>
  <div class="inside">
    We take democracy seriously. Find out why our clients consistently rely on us for their election needs.
  </div>
<hr class="center-ball">
<div class="row">
  <div class="oneofthree box">
    <div class="row_image">
      <img src="/uploads/icons/flexible-and-simple-to-use.png">
    </div>
      <h3>Flexible and Simple to Use</h3>
      <div class="desss">24 x 7 x 365 Support
        Simple and Accessible Voter Experience
        Internet, Phone, and Paper Ballots
    </div>

  </div>
  <div class="twoofthree box">
    <div class="row_image">
      <img src="/uploads/icons/secure-and-reliable.png">
    </div>
      <h3>Secure and Reliable</h3>
      <div class="desss">Third Party Audits & Certifications
        Voter-Verified Results
        100% Availability Guarantee
    </div>

  </div>
  <div class="threeofthree box">
    <div class="row_image">
      <img src="/uploads/icons/industry-specific-expertise.png">
    </div>
      <h3>Industry-Specific Expertise</h3>
      <div class="desss">Self Administered or Fully Managed Elections
        Professional Electoral Services
        Custom Voting Technology
    </div>

  </div>
</div>
</div>
<div class="howwork">
  <span>HOW IT WORKS?</span>
  <div class="inside">
    Below is a description of how a typical Simply Voting election unfolds.  </div>
<hr class="center-ball">
<div class="row">
  <div class="oneofthree box">
    <div class="row_image">
      <span>1</span>
      <img src="/uploads/icons/election-set-up.png">
    </div>
    <h3>Set-Up Election</h3>
    <div class="desss">Using our easy-to-use Election Manager, you create an election specifying the dates, times, and questions.
      If you need help or are in a rush you contact our Rapid Support department and one of our representatives will hold your hand through the process.
    </div>

  </div>
  <div class="twoofthree box">
    <div class="row_image">
      <span>2</span>
      <img src="/uploads/icons/voting.png">
    </div>
    <h3>Voting</h3>
    <div class="desss">Voters arrive at your branded voting website and authenticate their identity Voters arrive at your branded voting website and authenticate their identity.
      If authentication was successful, the voter will be presented with a list of any ongoing elections. If the voter hasn't yet voted, he may click on the election and a tamper-proof electronic ballot will appear.
    </div>

  </div>
  <div class="threeofthree box">
    <div class="row_image">
      <span>3</span>
      <img src="/uploads/icons/results.png">
    </div>
    <h3>Results</h3>
    <div class="desss">Once voting has ended the results are immediately tabulated. You can view the results in the Election Manager along with various reports on voting activity before publishing them.
      Result is definitely untempered and genuine.
    </div>

  </div>
</div>
</div>

<div id="home_login">
  <span>LOGIN</span>
  <hr class="center-ball">
  <div class="login_div">
    <%= form_for( :user, as: :user, url: '/users/sign_in', method: :post, :html => {:autocomplete => "off"}) do |f| %>
    <div class='form'>
      <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
      <input style="display:none" type="text" name="fakeusernameremembered"/>
      <input style="display:none" type="password" name="fakepasswordremembered"/>
      <div class='field'>
        <input type="email" value=""  name="user[email]" id="user_email" class='placeholder-input'>
        <label class='placeholder-label' for='user_email'>Email</label>
      </div>
      <div class='field'>
        <input autocomplete="off" type="password" name="user[password]" id="user_password" class='placeholder-input'>
        <label class='placeholder-label' for='user_password'>Password</label>
      </div>
      <input class="submit_but" type="submit" name="commit" value="login">
      <hr>
      <a href="/users/sign_up" class="sign-up-button"><i class="fa fa-user-o" aria-hidden="true"></i>Sign Up</a>
        <a href="/users/auth/facebook" class="facebook-button"><i class="fa fa-facebook-square" aria-hidden="true"></i>Login with facebook</a>

    </div>
    <% end %>
  </div>


</div>


<!--<h1>Home#index</h1>-->
<!--<p>Find me in app/views/home/index.html.erb</p>-->
<% link_to "sign_in" , new_user_session_path %><br>
<% link_to "Sign in with Ffacebook", user_facebook_omniauth_authorize_path %>


