<div class="user_home_public_polls effect2">
<h2 id="user_home_public_polls_h2">PUBLIC POLLS</h2>
<div class="public_polls_list">
	<% @uni_polls.each do |uni_poll|%>
	<%= render "uni_poll", :uni_poll => uni_poll %>
	<% end %>
</div>
</div>
<div class="user_home_groups effect2">
  <div class="group_heading"><i class="icon-group"></i><h2>GROUPS</h2></div>
<div id="cuurent_user_groups" >
	<% @groups.each do |group| %>
	<%= render "group", :group => group %>
      <hr class="fade-2">
	<% end %>
  <% if @groups.length <= 0  %>
    Sorry Not A member of any group Yet!
  <% end %>
</div>
</div>