<h1>welcome # <%= @user.user_name%> </h1>

<%= link_to "logout",  :destroy_user_session , :method => "DELETE"%>

<h2>GROUPS</h2>
<% @groups.each do |group| %>
<%= render "group", :group => group %>
<% end %>