// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


	//ul#ui-id-1{
   	//	background-color: white;
   	//	list-style: none;
   	//}
   	//li {
    	//border: 1px solid black;
   	//	max-width: 300px;
   	//}
    //
   	//li:hover{
     //	background-color: lightgoldenrodyellow;
   	//}

   	.ui-helper-hidden-accessible{
   	 	display: none;
   	}
    .public_polls_list{
      //display: flex;
      //background-color: #ced3db;
      //overflow-x: scroll;
      //scrollbar-base-color: #ced3db ;
      display: flex;
      flex-direction: column;

      .public_poll_items:hover{
        .end_poll_link{
          display: block;
          cursor: pointer;
        }
        a{
          bottom: -160px;
          h2{

          }
        }
      }
      .public_poll_items{
        background-color: #730E15;
        height: 200px;
        min-width: 150px;
        margin: 10px;
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        a {
          text-decoration: none;
          position: relative;
          bottom: -220px;
          transition: all 0.5s ease;
          h2 {
            color: black;
          }
        }
        .end_poll_link{
          display: none;
          position: relative;
          top: -12px;
        }
      }
    }
    #cuurent_user_groups{
      hr:last-child{
        display: none;
      }
      .group{

        a:hover{
          text-decoration: none;
        }
        a{
          display: flex;
          align-items: center;
          .group_picture{
            height: 70px;
            width: 70px;
            border-radius: 35px;
            overflow: hidden;
            img{
              width: 100%;
            }
          }
          h3{
            padding-left: 15px;
          }

        }
      }
    }


.fade-2 {
  width: 100%;
  margin: 5px 0;
  border-width: 0 0 1px;
  $color: grey;
  color: $color;
  border-image: linear-gradient(
                  90deg,
                  rgba($color, 0),
                  rgba($color, 1) 50%,
                  rgba($color, 0) 100%) 0 0 100%;
  border-style: solid;
}


/* Dots */
.slick-dotted.slick-slider
{
  margin-bottom: 30px;
}

.slick-dots
{
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  font-family: 'slick';
  font-size: 20px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: .25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
  opacity: .75;
  color: black;
}

.slick-list{
  max-height: 220px;
}


.slick-prev,.slick-next{
  width: 50px;
  height: 50px;
  font-size: 0;
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: whitesmoke;
  opacity: 0.7;
  border-radius: 25px;
  overflow: hidden;
}
.slick-prev{
  left: -50px;
  transition: all 0.5s ease;

}
.public_polls_list:hover{
  .slick-prev{
    left: 20px;
  }
  .slick-next{
    left: auto;
    right: 20px;
  }
}
.slick-next{
  left: auto;
  right: -50px;
  transition: all 0.5s ease;
}

.slick-prev:before,
.slick-next:before
{
  font-family: 'slick';
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  opacity: .75;

  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before
{
  content: '<';
}
.slick-next:before
{
  content: '>';
}