// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


	//ul#ui-id-1{
   	//	background-color: white;
   	//	list-style: none;
   	//}
   	//li {
    	//border: 1px solid black;
   	//	max-width: 300px;
   	//}
    //
   	//li:hover{
     //	background-color: lightgoldenrodyellow;
   	//}

   	.ui-helper-hidden-accessible{
   	 	display: none;
   	}
.user_home_public_polls{
  background-color: rgba(177, 181, 170, 0.75);;
  padding: 50px 0px 10px 0px;
  #user_home_public_polls_h2{
    margin-left: 30px;
    color: #272924;
  }

}
.user_home_groups{
  margin: 50px auto;
  background-color: white;
  width: 80%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .group_heading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    color: #8eb640;
    i{
      font-size: 24px;
      padding: 0px 10px;
    }
    h2{
      font-family: 'Playfair Display', serif;
    }
  }
  #cuurent_user_groups{
    padding-bottom: 30px;
  }
}
    .public_polls_list{
      //display: flex;
      //background-color: #ced3db;
      //overflow-x: scroll;
      //scrollbar-base-color: #ced3db ;
      display: flex;
      flex-direction: column;

      .public_poll_items:hover{
        .public_poll_items_inner{
          .end_poll_link{
            display: block;
            cursor: pointer;
          }
          a{
            bottom: -160px;
            h2{

            }
          }
        }
      }
      .public_poll_items{
        background-color: #730E15;
        height: 200px;
        min-width: 150px;
        margin: 10px;
        display: none;
        .public_poll_items_inner{
          display: flex;
          flex-direction: column;
          align-items: center;
          overflow: hidden;
          height: 100%;
          a {
            text-decoration: none;
            position: relative;
            bottom: -220px;
            transition: all 0.5s ease;
            h2 {
              color: black;
            }
          }
          .end_poll_link{
            display: none;
            position: relative;
            top: -12px;
          }
        }
      }
    }
    #cuurent_user_groups{
      hr:last-child{
        display: none;
      }
      .group{

        a:hover{
          text-decoration: none;
        }
        a{
          display: flex;
          align-items: center;
          .group_picture{
            height: 70px;
            width: 70px;
            border-radius: 35px;
            overflow: hidden;
            img{
              width: 100%;
            }
          }
          h3{
            padding-left: 15px;
          }

        }
      }
    }

    #head_photo{
      width: 80%;
      margin: auto;
      position: relative;
      img{
        width: 100%;
        height: 100%;
      }
      .temp{
        position: absolute;
        background-color: rgba(22, 10, 71, 0.67);
        top: 15px;
        left: 15px;
        padding: 50px;
        h2{
          font-size: 50px;
          color: white;
          font-family: 'Playfair Display', serif;
          font-weight: 400;
        }
      }


      #dis{
        position: absolute;
        background-color: rgba(22, 10, 71, 0.67);
        padding: 10px;
        bottom: 30px;
        right: 30px;
        left: 200px;
        p{
          color: white;
          text-align: center;
        }
      }
    }
hr {
  border: 0;
  height: 1px;
  width: 70%;
  position: relative;
  margin: 30px auto;
}
hr.center-ball {
  background: #23981e;
}
hr.center-ball:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #bd691a;
  display: inline-block;
  border: 2px solid #bd691a;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 50%;
  margin: 0 0 0 -3px;
}
    #description_site{
      max-width: 800px;
      padding: 25px;
      background-color:  rgba(22, 10, 71, 0.67);
      color: white;
      margin: auto;
      text-align: center;
      #one{
        font-size: 18px;
        font-weight: bold;
      }
      #two{
        font-size: 20px;
      }
    }


.fade-2 {
  width: 100%;
  margin: 5px 0;
  border-width: 0 0 1px;
  $color: grey;
  color: $color;
  border-image: linear-gradient(
                  90deg,
                  rgba($color, 0),
                  rgba($color, 1) 50%,
                  rgba($color, 0) 100%) 0 0 100%;
  border-style: solid;
}


/* Dots */
.slick-dotted.slick-slider
{
  margin-bottom: 30px;
}

.slick-dots
{
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  font-family: 'slick';
  font-size: 20px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: .25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
  opacity: .75;
  color: black;
}

.slick-list{
  max-height: 220px;
}


.slick-prev,.slick-next{
  width: 50px;
  height: 50px;
  font-size: 0;
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: whitesmoke;
  opacity: 0.7;
  border-radius: 25px;
  overflow: hidden;
}
.slick-prev{
  left: -50px;
  transition: all 0.5s ease;

}
.public_polls_list:hover{
  .slick-prev{
    left: 20px;
  }
  .slick-next{
    left: auto;
    right: 20px;
  }
}
.slick-next{
  left: auto;
  right: -50px;
  transition: all 0.5s ease;
}

.slick-prev:before,
.slick-next:before
{
  font-family: 'slick';
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  opacity: .75;

  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before
{
  content: '<';
}
.slick-next:before
{
  content: '>';
}
.whychoose{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  span{
    font-size: 28px;
    color: #8eb640;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
.howwork{
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  span{
    font-size: 28px;
    color: #8eb640;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
#home_login{
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  span{
    font-size: 28px;
    color: #8eb640;
    font-weight: bold;
  }
  .login_div{
    width: 80%;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: center;
    *{
      box-sizing: border-box;
    }
    .form {
      width: 320px;
      margin: 30px auto;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 16px;
      transform: translateZ(0);
      hr{
        background-color: #222222;
        margin: 10px auto;
        width: 320px;
      }


      .facebook-button {
        color: #fff;
        text-decoration: none;
        padding: 15px 40px;
        background-image: -webkit-linear-gradient(#3b5998, #314b83);
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;
        width: 320px;
        border: solid 1px #283e6b;
        box-shadow: inset 0px 1px rgba(255, 255, 255, 0.2);
        text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
        font-weight: bold;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.3s;
        i{
          font-size: 30px;
          margin-right: 20px;
        }
      }
      .facebook-button:hover {
        background-image: -webkit-linear-gradient(#4466ac, #34518e);
      }
      .facebook-button:active {
        box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.3), 0px 1px rgba(255, 255, 255, 0.2);
      }

    }
    .form .field {
      position: relative;
      margin-bottom: 10px;
      height: 40px;
    }
    .form .field .placeholder-label {
      position: absolute;
      top: 14px;
      left: 12px;
      font-weight: 300;
      color: #aaa;
      cursor: text;
      z-index: 200;
      transition: all 0.25s;
    }
    .form .field .placeholder-label:after {
      content: ":";
      opacity: 0;
      color: #333;
      transition: all 0.25s;
    }
    .form .field .placeholder-input {
      position: absolute;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #aaa;
      font-size: 16px;
      z-index: 100;
      transition: all 0.25s;
    }
    .form .field .placeholder-input:focus, .form .field .placeholder-input.not-empty {
      margin-left: 100px;
      width: 220px;
      outline: none;
    }
    .form .field .placeholder-input:focus + .placeholder-label, .form .field .placeholder-input.not-empty + .placeholder-label {
      color: #333;
      cursor: default;
    }
    .form .field .placeholder-input:focus + .placeholder-label:after, .form .field .placeholder-input.not-empty + .placeholder-label:after {
      opacity: 1;
    }
    .submit_but{
      background-color: #8eb640;
      width: 100%;
      color: white;
      border-radius: 10px;
      overflow: hidden;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 26px;
    }
  }
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  .box{
    display: flex;
    position: relative;
    margin: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 380px;
    text-align: center;
    *{
      margin:10px 0px;
    }
    .desss{
      padding: 10px 10px;
      text-align: center;
      font-family: Roboto,sans-serif;
      letter-spacing: 0.5px;
    }
    .row_image{
      margin: auto;
      span{
        position: absolute;
        top: 5px;
        left: 40px;
        font-size: 30px;
        background-color: rgba(22, 10, 71, 0.67);
        color: white;
        border-radius: 20px;
        width: 40px;
        height: 40px;
      }
      img{
        height: 80px;
        width: 100px;
      }
    }
  }
}