<div class="competitors_result_card effect2">
  <div class="image_competitor">
    <img src="/uploads/public_contestants/<%=mapp.contestant_picture%>">
  </div>
  <div class="details">
    <h2><%=  mapp.competitor_name %></h2>
    <span class="votes"><%= mapp.votes %></span>
  </div>
</div>